{
    "svelteSortOrder": "scripts-styles-markup",
    "svelteStrictMode": true,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true
}
