//
// MDC Theme
//

// @import "@material/animation/variables";
// @import "@material/theme/variables";
@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #eb3d03;
$mdc-theme-secondary: #233742;
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
$mdc-theme-error: $material-color-red-900;

// $mdc-chip-fill-color-default: #b0def6;
$mdc-chip-leading-icon-size: 20px !default;